.content {
  background-color: #fff;
  border: 1px solid rgb(0 0 0 / 0.1);
  padding: 2rem 4rem;
  border-radius: 1.25rem;

  @media (width < 576px) {
    padding: 1.5rem;
  }
}

.title {
  font-size: var(--font-size-normal);
  font-weight: 500;
  text-align: center;
  margin-bottom: var(--m-5);
}

.box {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;

  @media (width < 350px) {
    column-gap: 1.25rem;
  }
}

.group {
  display: grid;
  align-items: start;
  row-gap: 1rem;
}

.info {
  display: flex;
  column-gap: 0.5rem;
}

.icon {
  font-size: 1rem;
  color: var(--clr-title);
  flex-shrink: 0;
}

.name {
  font-size: var(--font-size-sm);
  font-weight: 500;
  line-height: 18px;

  @media (width < 350px) {
    font-size: var(--font-size-sm);
  }
}

.level {
  font-size: var(--font-size-2xs);
}
