@import 'variables';
@import 'scaffolding';

.container {
  --padding: 1rem;

  max-width: calc(968px + 2 * var(--padding));
  margin-left: auto;
  margin-right: auto;
  padding-inline: var(--padding);

  @media (width > 350px) {
    --padding: 1.5rem;
  }
}
