@import 'variables';
@import 'scaffolding';

body {
  @media (width < 768px) {
    margin: 0 0 var(--header-height) 0;
  }
}

.container {
  max-width: 968px;
  margin-inline: auto;

  @media (width < 992px) {
    margin-inline: var(--m-5);
  }

  @media (width < 350px) {
    margin-inline: var(--m-4);
  }
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 2rem 0 4rem;

  @media (width >= 768px) {
    padding: 6rem 0 2rem;
  }
}

.button {
  display: inline-block;
  background-color: var(--clr-title);
  color: var(--clr-white);
  padding: 1rem 1.75rem;
  border-radius: 1rem;
  font-weight: 500;

  @media (width >= 992px) {
    padding: 1.25rem 2rem;
  }
}

.button:hover {
  background-color: var(--clr-title-dark);
}

.button-icon {
  margin-left: var(--m-2);

  @media (width < 992px) {
    width: 22px;
    height: 22px;
  }
}

.button--flex {
  display: inline-flex;
  align-items: center;
}
