* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: inherit;
  font-size: var(--font-size-normal);
}

body {
  background-color: var(--bg-body);
  color: var(--clr-text);
}

h1,
h2,
h3 {
  color: var(--clr-title);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}
